<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webakruti.designpractice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".SocialLogin.LoginActivity" />
        <activity android:name=".CustomPopupActivity" />
        <activity android:name=".FloatingActionButtonActivity" />
        <activity android:name=".SocialLogin.FacebookLoginActivity" />
        <activity android:name=".SocialLogin.TwitterActivity" />
        <activity android:name=".SocialLogin.TwitterHomeActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".GIFActivity" />
        <activity android:name=".Animation.AnimationActivity" />
        <activity android:name=".Clock_TimePickerActivity" />
        <activity android:name=".SearchListViewActivity" />
        <activity android:name=".NavigationActivity" />
        <activity android:name=".BarcodeScanner.MainScannerActivity" />
        <activity
            android:name=".BarcodeScanner.ScannerActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar" />
        <activity android:name=".BarcodeScanner.ZbarScannerActivity" />
        <activity android:name=".BarcodeScanner.ZbarMainActivity" />
        <activity android:name=".TabsActivity" />
        <activity android:name=".LocalNotificationActivity" />
        <activity android:name=".WebviewWithImageUploadActivity" />
        <activity android:name=".TableActivity" />
        <activity android:name=".Graph.PieChartActivity" />
        <activity android:name=".Graph.BarChartActivity" />
        <activity android:name=".Graph.ChartActivity" />
        <activity android:name=".Graph.LineChartActivity" />
        <activity android:name=".Animation.LightAnimationActivity" />
        <activity android:name=".Animation.RunningCatAnimationActivity" />
        <activity android:name=".Wifi.WiFiActivity" />
        <activity android:name=".Wifi.WiFiListActivity" />
        <activity android:name=".Game.GameMainActivity" />
        <activity android:name=".EMI.EMICalculatorActivity"></activity>
    </application>

</manifest>